@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.container{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

.container .card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 40px;
}

.container .card .imgCd{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgCd{
    transform: translate(-35px,-35px);
}

.container .card .imgCd img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #56070C;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 15px;
    transition: 0.5s ease-in-out;
}

.container .card:hover .content{
    transform: translate(35px,35px);
}

.container .card .content h2{
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;   
}

.container .card .content h2 span{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

@media (max-width: 768px){
    .container .card:hover .content{
        transform: translate(0,35px);
    }
    .container .card:hover .imgCd{
        transform: translate(0,-35px);
    }
}